body{
    font-family: 'Titillium Web', sans-serif;
}
h1{
    font-size: 70px; 
    font-weight: 500;
    line-height: 80px;
}
h2{
    font-size: 48px; 
    margin-bottom: 30px;
}
p{
    font-size:  20px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}
a:hover{
    color: aqua;
}
section{
    padding: 120px 0;
}

.topmargin-xs{margin:15 px ;}
.topmargin-sm{margin:30 px ;}
.topmargin-lg{margin:30 px ;}
.btn{
    font-size: 14px;
    padding:  15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-light{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}
.btn{
    font-size: 14px;
    margin-left: 5px;
}
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}
.nav-link{color: #1a1a1a;}
.nav-link:hover {color:#1a1a1a;}

.logo-brand {
    min-width: 160 px;
    max-width: 180 px;
}
.navbar-togger{font-size: 10px;}
.navbar-togger:focus{outline: none;}
#hero{
    background-image: url('imagenes/programador.jpg'); 
    background-size: cover;
    width: 1300px;
    height: 200px;
    padding-top: 5px;
    min-height: 5px;
    color: #ffffff;

}
#hero p{
    color: #ffffff;
}
.icon-css{
    width: 200px;
    height: 200;
    padding: 10px; 
    margin: 10px; 
   /* border: 2px solid black; */ 
    float: left; 
}
.icon-html{
    width: 200px;
    height: 200;
    padding: 10px; 
    margin: 10px; 
   /* border: 2px solid black; */ 
    float: right; 
}
.icon-android{
    width: 250px;
    height: 240;
    padding: 10px; 
    margin: 10px; 
    float: none; 
}
.foto{
    width: 250px;
    height: 240;
    padding: 10px; 
    margin: 10px; 
    float: none; 
}
.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 200px;
    width: 200px;
    /* los siguientes valores son independientes del tamaño del círculo */
   margin: auto;
    background-position: 100%;
    border-radius: 50%;
    background-size: 100% auto;
}
.content-center{
    max-width: 900px;
    margin:0 auto 100px auto;
    text-align: center;
}
.portafolio{
    background-color: rgb(31, 74, 190);
}
.portfolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}
.portfolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition:all 0.8s;
    transition: all 0.8s;
}
.portfolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale (1.2);
}
.portfolio-details{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000 ;
}
.portfolio-details h2{
    margin-bottom: 0px;
}
.portfolio-details a h2, .portfolio-details a p{
    color: #ffffff;
}
.posicioncontainer{
    margin: 10px; 
    float: left; 
}
